* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #fafafa;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}
.container {
  background-color: #fff;

  width: 400px;
  padding: 40px 30px;
  font-size: 20px;  
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  border-radius: 10px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  white-space: wrap;
}

form {
  margin-top: 35px;
}

input {
  font-size: 17px;
  padding: 5px;
  outline: none;
  border: none;
  width: 100%;
  border: 1px solid #ddd;

  border-radius: 5px;
  margin-top: 2px;
}
 .logoutBtn{
  margin-top: 5px;
  display: inline;
  position: fixed;
  top: 15px;
  right: 30px;
  width: 10%;
  padding: 5px;
  border: none;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #ff4726;
 }
 .btn {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  /* background-color: #2693ff; */
  color: #fff;
  background-color: #3897f0;
      
}
.btn:hover{
  background-color: #357ae8;

}
.form-group {
  margin-bottom: 20px;
}
.profile-image {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;  
      object-fit: cover;

}
.follower-count{
  color: #888;

}
.profile-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-details * {
  text-align: center;
  margin-bottom: 25px;
}
.links {
  font-size: 20px;
  margin-top: 40px;
}
.links a {
  margin-left: 15px;
  color: #999;

}
.link-login {
  margin-top: 40px;
}
#instaPage{
color: #ff4726;
  position: fixed;
  top:15px;
  left: 30px;
  display: inline;
}